body {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 1500px;
    text-align: center;
    background-color: rgb(255, 251, 251);
    position: relative;
}
img{
    margin-left: 100px;
}